body {
    font-family: 'Redressed', cursive;
    height: 0 auto;
}

h1 {
    font-size: 50px;
}

.name {
    color: orange;
}

.shohel {
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
}

.shohel img {
    width: 100%;
}

.btn button {
    padding: 10px 20px;
    background-color: red;
    border-radius: 10px;
    font-family: 'Redressed', cursive;
    font-size: 30px;
}

.btn button a {
    color: white;
    text-decoration: none;
}